.featured-collection-header-container {
    width: 100%;
}

.collection-featured-figure-container {
    position: relative;
    border-radius: 10px;
    width: 405px;
    height: 250px;
}

.collection-featured-figure-container > img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.collection-featured-figure-container > span {
    position: absolute;
    color: var(--dark-gray-2);
    font-weight: 700;
    padding: 3px 10px;
    top: 10px;
    left: 25px;
    border-radius: 20px;
    background-color: #e7ff86;
}

.collection-featured-figure-container > button {
    position: absolute;
    font-weight: 700;
    padding: 10px 40px;
    color: var(--primary);
    bottom: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    left: 25px;
}
