.header-container {
    width: 100vw;
    min-height: 200px;
    display: flex;
    background-color: white;
    z-index: 2;
    gap: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-container > section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.header-container > section > label {
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 7px;
}

.header-container > section > label > input {
    position: absolute;
    border: none;
    background-color: var(--light-gray-3);
    text-indent: 20px;
    font-weight: 400;
    color: var(--dark-gray-3);
    border-radius: inherit;
    width: 100%;
    height: 100%;
}
.header-container > section > label > img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.header-container > section > div {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    flex-wrap: wrap;
    gap: 20px;
}

.header-container > section > div > a {
    color: var(--dark-gray-2);
    font-weight: 400;
    font-size: 16px;
}

.header-container > section > div > button {
    border-radius: 7px;
    background-color: var(--primary);
    color: white;
    border: none;
    font-weight: 700;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.header-container > section > div > button:hover {
    background-color: var(--tertiary);
}

.cart-img {
    position: relative;
}

.ellipse-container {
    position: relative;
    left: 50px;
    bottom: 10px;
}

.ellipse-container > span {
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.ellipse-container > img {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
}
