/* .section-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section-container > h1 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: var(--dark-gray-2);
}

.section-container > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */
.section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 1240px;

    margin: 0 auto;
    margin-bottom: 50px;
}

.section-container > span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.section-container span h1 {
    justify-self: center;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-gray-2);
}

.section-container span a {
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;
    text-wrap: nowrap;
    color: var(--primary) !important;
}

.section-container > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza o conteúdo */
}
