.footer {
    width: 100vw;
    height: 454px;
    padding-top: 85px;
    background-color: #1f1f1f;
    color: #ffffff;
    align-content: space-between;
}

.geral {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8.5rem;
}

.dig-logo {
    width: 253px;
    height: 44px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dig-logo p {
    width: 307px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    text-align: left;
}

.dig-logo .redesLogo {
    width: 124.12px;
    height: 20.53px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.dig-logo .redesLogo > img {
    cursor: pointer;
}

/* .footerLogo {
    width: 33px;
    height: 33px;
    top: 38px;
    gap: 0px;
} */
/* Início do "container" de informações */
.container-infos {
    display: flex;
    align-items: start;
    gap: 5rem;
}

.container-infos h3 {
    width: 95px;
    height: 22px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.container-infos ul {
    margin: 0px;
    padding: 0px;
}

.listainfos1 {
    width: 135px;
    height: 278px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    list-style-type: none;
}

.listainfos2 {
    width: 96px;
    height: 240px;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    list-style-type: none;
}

.listainfos3 {
    width: 233px;
    height: 168px;
    /* gap: 30px; */
    margin-left: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    list-style-type: none;
}

.listainfos1 ul {
    width: 135px;
    height: 228px;
}

.listainfos2 ul {
    width: 96px;
    height: 190px;
}

.listainfos3 ul p {
    width: 233px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

/* Fim do "container" de informações */
/* 
.container-infos .topicos1 {
    width: 99px;
    height: 22px;
    gap: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.container-infos .listainfos2 .topicos2 {
    width: 96px;
    height: 22px;
    gap: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.container-infos .topicos3 {
    width: 71px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
} */

.digcoll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.digcoll p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.digcoll hr {
    width: 90%;
    height: 1px;
    margin-top: 5px;
}

/* @media (max-width: 425px) {
    .footer {
        box-sizing: border-box;
        background-color: brown;
        display: flex;
        flex-direction: column;
        font-size: 100%;
        vertical-align: baseline;
    }
} */
