.nav {
    width: 90%;
}

.home {
    display: flex;
    gap: 2rem;
    padding: 0;
}

.home a {
    text-decoration: none;
    font-weight: normal;
    color: var(--dark-gray-2);
    transition: all 0.3s ease;
}

.home a:hover {
    color: #c92071;
}

.home a.active {
    font-weight: 800;
    text-decoration: underline;
    color: var(--primary);

    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
